:root {
  --primary-color: #149e9e;
  --secondary-color: #e8e8e8;
  --dark-blue: #08153a;
  --text-dark: #0f172a;
  --text-light: ##94a3b8;
  --white: #fff;
  --black: #000;
  --gray: #525252;
  --pink: #ffc0cbe6;
}

$light-pink: rgba(255, 192, 203, 0.9);
$dark-pink: rgba(195, 5, 37, 0.5);
